In [3]:
from scapy.all import *
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

In [4]:
paquetes = rdpcap('../datos/sniff_ethernet.cap')

In [5]:
freq = {}
paquetes = paquetes.filter(lambda pkt: pkt.getlayer(1) != None and Ether in pkt)
for pkt in paquetes:
    # Ethernet
    tipo = 'broadcast' if pkt[Ether].dst == 'ff:ff:ff:ff:ff:ff' else 'unicast'
    proto = pkt.getlayer(1).name

    # Wifi
    #

    freq[(tipo,proto)] = freq[(tipo,proto)] + 1 if (tipo,proto) in freq else 0

entropia = 0
for k in freq:
        p = freq[k] / len(paquetes) 
        entropia += -p * math.log(p)

max_entropia = math.log(len(freq))

In [71]:
tabla = pd.Series(data = freq).to_frame(name = "Cantidad de Paquetes")
tabla.index = tabla.index.set_names(["Tipo","Protocolo"])
tabla
tabla.assign(Informacion = lambda x: np.log(x/len(freq)))
#tabla.sort_values(Informacion, inplace = True)

                     Cantidad de Paquetes  Informacion
Tipo      Protocolo
broadcast ARP                         176     3.224574
          IP                         2731     5.966513
unicast   ARP                        9946     7.259016
          EAPOL                         7     0.000000
          IP                        84979     9.404249
          IPv6                       2125     5.715617
          LLC                           1    -1.945910

       0
0  84979
1   2125
2    176
3   2731
4   9946
5      7
6      1